# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=XXXXXXXX

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=831364c76e9d51e8a266454132e79320
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=ff8de603b6f71d8e94cb
AUTH_GITHUB_SECRET=4d88d71f5b44848dfb9df3a875c5ce4e4782a727

# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:1549475ecbe94ea1a3061bca74701088@tidy-eft-45783.upstash.io:45783"
KV_REST_API_URL="https://tidy-eft-45783.upstash.io"
KV_REST_API_TOKEN="AbLXASQgMTE1M2VkNTQtNjZlZi00ZGQxLWIxYjYtZjEyZjRmMmZkNDlmMTU0OTQ3NWVjYmU5NGVhMWEzMDYxYmNhNzQ3MDEwODg="
KV_REST_API_READ_ONLY_TOKEN="ArLXASQgMTE1M2VkNTQtNjZlZi00ZGQxLWIxYjYtZjEyZjRmMmZkNDlmSZPLGtitiKMaJGC3oMGKjpP_6e4nLwB-s8NUWnWv_9U="
# Homepage URL = https://vpa-phase-ii.vercel.app/sign-in?callbackUrl=https%3A%2F%2Fvpa-phase-ii.vercel.app%2F
# Authorization callback URL = https://vpa-phase-ii.vercel.app/A